body {
	color: #444444;
}

.title h1{
	color: green;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-top: double 5px green;
	border-bottom: double 5px green;
	line-height: 40px;
}

.header {
	overflow: hidden;
}
.left-header {
	float: left;
}
.right-header {
	float: right;
}

.headHome{
	display: inline-block;
}
a.home {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
	}

a.home:hover {
	background: green;
	color: #fff;
}
.headUserManagement{
	display: inline-block;
}
a.userManagement {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
	}
a.userManagement:hover {
	background: green;
	color: #fff;
	/*text-align: left;*/
}

.headSignup {
	display: inline-block;
}
a.signup {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
	}

a.signup:hover {
	background: green;
	color: #fff;
	/*text-align: left;*/
}

.profile {
	font-size: 15px;
}
.logout {
	display: inline-block;
}
a.logout {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
	}
a.logout:hover {
	background: green;
	color: #fff;
}

.errorMessages {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	color: red;
}

.main-contents {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
}

ul li {
    list-style: none;
    margin-top: 10px;
	label {
	    float: left;
	}
}
ul {
    width: 500px;
    margin: 0 auto;
}

input#submit {
	font-size: 13px;
	display: block;
	width: 60px;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: #0000CD;
	background: #fff;
	border: 1px solid #0000CD;
	border-radius: 3px;
	transition: .4s;
	}
input#submit:hover {
	background: #0000CD;
	color: #fff;
}

.copyright {
	text-align: left;
	font-size: 10px;
	margin-top: 10px;
}