body {
	color: #444444;
}

.title h1{
	color: green;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-top: double 5px green;
	border-bottom: double 5px green;
	line-height: 40px;
}

.loginErrorMessages {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	color: red;
}

.main-contents {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
}

ul li {
    list-style: none;
    margin-top: 10px;
	label {
	    float: left;
	}
}
ul {
    width: 200px;
    margin: 0 auto;
}

input#submit {
	font-size: 13px;
	display: block;
	width: 60px;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: green;
	background: #fff;
	border: 1px solid green;
	border-radius: 3px;
	transition: .4s;
	}
input#submit:hover {
	background: green;
	color: #fff;
}

.copyright {
	text-align: left;
	font-size: 10px;
	margin-top: 10px;
}

