body {
	color : #444444;	
}

.title h1{
	color: green;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-top: double 5px green;
	border-bottom: double 5px green;
	line-height: 40px;
}

.header {
	overflow: hidden;
}
.left-header {
	float: left;
}
.right-header {
	float: right;
}
.headNewMessage {
	display: inline-block;
}
a.newMessage {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
}
a.newMessage:hover {
	background: green;
	color: #fff;
}

.headUserManagement {
	display: inline-block;
}
a.userManagement {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
	}
a.userManagement:hover {
	background: green;
	color: #fff;
}

.profile {
	font-size: 15px;
}
.logout {
	display: inline-block;
}
a.logout {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
	}
a.logout:hover {
	background: green;
	color: #fff;
}

.search-area {
	margin-left: 20px;
	margin-right: auto;
	height: 100%;
	width: 100%;
}
.search-area h2{
	color: #444444;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: -3px;
}

.search {
	display:inline-flex;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
}
input#searchButton {
	font-size: 13px;
	width: 60px;
	margin-left: 5px;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: green;
	background: #fff;
	border: 1px solid green;
	border-radius: 3px;
	transition: .4s;
	}
input#searchButton:hover {
	background: green;
	color: #fff;
}
input#reset {
	font-size: 13px;
	width: 80px;
	margin-left: 10px;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: #FF4F02;
	background: #fff;
	border: 1px solid #FF4F02;
	border-radius: 3px;
	transition: .4s;
	}
input#reset:hover {
	background: #FF4F02;
	color: #fff;
}

.errorMessages {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100px;
	color: red;
}

.main-contents {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 70%;
}

.message .title{
	color: #FFF;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	background: #00AA00;
	border-top: double 2px #00AA00;
	border-bottom: double 2px #00AA00;
}
.message .category{
	text-align: left;
	border-bottom: double 2px #00AA00;
}
.message .name{
	text-align: left;
	border-bottom: double 2px #00AA00;
}
.message .text{
	text-align: left;
	border-bottom: double 2px #00AA00;
}
.message.delete {
	text-align: left;
}
input#delete {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: #FF4F02;
	background: #fff;
	border: 1px solid #FF4F02;
	border-radius: 3px;
	transition: .4s;
	}
input#delete:hover {
	background: #FF4F02;
	color: #fff;
}


.comment {
	text-align: left;
}
.comment .name{
	margin-top: 5px;
	text-align: left;
	border-top: double 2px #FFCC33;
	background: #FFCC33;
}
.comment .text{
	text-align: left;
	border-top: double 2px #FFCC33;
	border-bottom: double 2px #FFCC33;
}
.comment.delete {
	text-align: left;
}
input#submit {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: #0000CD;
	background: #fff;
	border: 1px solid #0000CD;
	border-radius: 3px;
	transition: .4s;
	}
input#submit:hover {
	background: #0000CD;
	color: #fff;
}

.form-area {
	margin-top: 5px;
}

.copyright {
	text-align: left;
	font-size: 10px;
	margin-top: 10px;
}
