body {
	color: #444444;
}

.title h1{
	color: green;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-top: double 5px green;
	border-bottom: double 5px green;
	line-height: 40px;
/*	margin-top: 10px;
	margin-bottom: 10px;
	height: 100%;
	width: 800px;*/
}

.header {
	overflow: hidden;
}
.left-header {
	float: left;
}
.right-header {
	float: right;
}

.headHome {
	display: inline-block;
}

a.home {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
	}

a.home:hover {
	background: green;
	color: #fff;
}

.headSignup{
	display: inline-block;
}
a.signup {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
	}

a.signup:hover {
	background: green;
	color: #fff;
}

.profile {
	font-size: 15px;
}
.logout {
	display: inline-block;
}
a.logout {
	font-size: 13px;
	display: block;
	width: 100px;
	padding: 0.3em;
	text-align: center;
	text-decoration: none;
	color: green;
	border: 2px solid green;
	border-radius: 3px;
	transition: .4s;
	}
a.logout:hover {
	background: green;
	color: #fff;
}

.errorMessages {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 200px;
	color: red;
}

table {
	text-align: center;
	border: solid 2px green;
	border-collapse: collapse;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 700px;
}
table th, table td {
	border: solid 1px green;
}
table th {
	border: solid 2px green;
	padding: 10px;
}
table td {
	padding: 3px 10px;
}

input#action {
	font-size: 13px;
	display: block;
	width: 60px;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: green;
	background: #fff;
	border: 1px solid green;
	border-radius: 3px;
	transition: .4s;
	}
input#action:hover {
	background: green;
	color: #fff;
}

input#stop {
	font-size: 13px;
	display: block;
	width: 60px;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: #FF4F02;
	background: #fff;
	border: 1px solid #FF4F02;
	border-radius: 3px;
	transition: .4s;
	}
input#stop:hover {
	background: #FF4F02;
	color: #fff;
}

input#edit {
	font-size: 13px;
	display: block;
	width: 60px;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: #0000CD;
	background: #fff;
	border: 1px solid #0000CD;
	border-radius: 3px;
	transition: .4s;
	}
input#edit:hover {
	background: #0000CD;
	color: #fff;
}

.copyright {
	text-align: left;
	font-size: 10px;
	margin-top: 10px;
}
